<div class="grid w-full h-full">
  <app-sidebar></app-sidebar>
  <!-- logo -->
  <div class="flex flex-column align-items-center col-12 h-5rem md:h-8rem lg:h-8rem">
    <app-logo  class="transfo"></app-logo>
  </div>
<!-- input -->
  <div class="flex align-items-center justify-content-center w-full col-12 md:col-12 lg:col-12 h-10rem">
    <app-input class="w-full"></app-input>
  </div>
  <!-- Textresults -->
  <div class="flex align-items-center justify-content-center col-12 h-5rem md:h-5rem lg:h-5rem">
    <p class="textR text-3xl md:text-6xl lg:text-6xl">Elige el que gustes!</p>
  </div>
<!-- results -->
  <div class="flex flex-wrap align-items-center justify-content-center col-12">
    <app-results class="w-full"></app-results>
  </div>

</div>
