<div class="grid w-full h-full">
  <div class="flex flex-column align-items-center col-12 h-8rem md:h-15rem lg:h-15rem">
    <img  class="w-7rem md:w-10rem lg:w-10rem mt-4" src="../assets/images/logo.png">
    <p class="text-7xl logoText">cutLink</p>
  </div>
  <div class="flex col-12 h-10rem">
      <input type="text" pInputText placeholder="Search"/>
      <p-button label="Cortar"></p-button>
  </div>
  <div class="flex col-12 h-5rem md:h-10rem lg:h-10rem">

  </div>
  <div class="flex col-12 h-auto">

  </div>
</div>
