<div class="m-3">
  <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <div class="flex flex-column align-items-center h-screen">
      <h3 class="text-4xl">Historial</h3>
      <hr>
      <div class="flex flex-column align-items-center w-full">
        <div (click)="copy(txtSidebar.text)" *ngFor="let elemento of historial"  class="flex justify-content-center align-items-center historiale  h-2rem">
          <a href="#" class="listado" #txtSidebar>
            {{elemento}}
          </a>
        </div>

      </div>
    </div>
  </p-sidebar>
  <p-button type="button" class="p-mr-2" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button>
</div>
<p-toast position="bottom-center" key="tc"></p-toast>


