/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
  background-color: #F3F3F3;
  height: 100vh;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
.textR{
  font-family: 'Nunito', sans-serif;
}
}
